@font-face {
  font-family: 'Exo2.0-Thin';
  src: url('Exo2.0-Thin.eot');
  src: url('Exo2.0-Thin.eot?#iefix') format('embedded-opentype'),
       url('Exo2.0-Thin.svg#Exo2.0-Thin') format('svg'),
       url('Exo2.0-Thin.ttf') format('truetype'),
       url('Exo2.0-Thin.woff') format('woff'),
       url('Exo2.0-Thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

